.tapnav{
	display: flex;
	background-color: white;
}
ul{
	display: flex;
	list-style-type: none; /*убираем маркеры*/
	font-size: 1.2em;	
}
li a{
	margin: 0em 1em;
	text-decoration: none; /*убираем подчеркивание у ссылок*/
}

.flexbox1{
	display: flex;
	padding: 20em;
	flex-direction: column; /*Задает направление главных осей, column - в столбик*/
	background-image: url(images/wpapers_ru_Солнечная-погода.jpg);
}
.name{
	display: flex;
	font-size: 5vmax;
	color: orange;
	width: 20em;
}
.description{
	color: white;
	font-size: 2em;
	width: 20em;
}

.flexbox2{
	display: flex;
	background-color: orange;
	color: white;
}
.flex2 > li{
	font-size: 1.5em;
	margin-right: 3em;
}
.icons{
	width: 5em;
	margin-left: 4em;
}
#bbq{
	margin-left: 7.5em;
}

#swing {
	margin-left: 7em;
}
#wifi{
	margin-left: 6.5em;
}

.flexbox4{
	display: flex;
}
#room{
	text-decoration: none;
	color: #2B00FF;
	font-size: 3em;
	margin: 1em 0 1em 40vw;
}

.flexbox5 div{
	display: flex;
	margin-top: 5px;
	/*border: 5px solid red;*/
	flex-direction: row; /*расположение flex-элементов*/
	justify-content: space-between;


}
p, h1{
	padding: 1em;
}
#rooms_1{
	margin-bottom: 5em;
	height: 90vh;
}
#rooms_2{
	height: 90vh;
}

footer{
	display: flex;
	margin-top: 2em;
	color: white;
	background-color:grey;
	justify-content: flex-end;
}
#footer_name{
	padding-right: 40em;
}