.tapnav{
	display: flex;
	background-color: white;
}
ul{
	display: flex;
	list-style-type: none; /*убираем маркеры*/
	font-size: 1.2em;	
}
li a{
	margin: 0em 1em;
	text-decoration: none; /*убираем подчеркивание у ссылок*/
}

.flexbox1{
	display: flex;
	padding: 20em;
	flex-direction: column; /*Задает направление главных осей, column - в столбик*/
	background-image: url(images/wpapers_ru_Солнечная-погода.jpg);
}
.name{
	display: flex;
	font-size: 5vmax;
	color: orange;
	width: 20em;
}
.description{
	color: white;
	font-size: 2em;
	width: 20em;
}

.flexbox2{
	display: flex;
	background-color: orange;
	color: white;
}
.flex2 > li{
	font-size: 1.5em;
	margin-right: 3em;
}
.icons{
	width: 5em;
	margin-left: 4em;
}
#bbq{
	margin-left: 7.5em;
}

#swing {
	margin-left: 7em;
}
#wifi{
	margin-left: 6.5em;
}

.flexbox4{
	display: flex;
}
#room{
	text-decoration: none;
	color: #2B00FF;
	font-size: 3em;
	margin: 2em;
}

.flexbox5{
	display: flex;
	flex-direction: column; /*расположение flex-элементов в столбец*/
	

}
#rooms_1{
	margin-bottom: 5em;
	height: 90vh;
	margin-left: 30em;
}
#rooms_2{
	height: 90vh;
	width:25vw;
	margin-left: 62em;
}